
:root {
    --rom-red : #761E40;
    --rom-blue : #15214B;
    --rom-lightgrey : #E8E8E8;
    --rom-grey : #BFBFBF; /*#AAAAAA;*/ /* #CCCCCC; */
    --rom-darkgrey : #333333;
    --rom-orange : #E55741;
    --rom-gold : #DBB17C;
    
    --content-padding-lr: 8%;
    --navitem-padding-lr: 20px;
    --article-margin: 30px;
    
    --logo-height: 65px;

    --mobile-logo-height: 24px;
    --mobile-logo-margin-top: 14px;
    --mobile-logo-margin-bottom: 18px;
    --mobile-header-height: calc(
        var(--mobile-logo-height) +
        var(--mobile-logo-margin-top) +
        var(--mobile-logo-margin-bottom)
    );
}
