@media screen {

div.content {
    padding:
        20px
        calc(var(--content-padding-lr) - var(--article-margin))
        10px
        calc(var(--content-padding-lr) - var(--article-margin));
    /* border: 3px solid red; */
}
div.content h2 {
    text-align: center;
    margin-top: 20px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    /* border: 3px solid var(--rom-orange); */
}
div.nightowl {
    border: 3px solid var(--rom-orange);
}
article {
    flex: 1;
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    margin: var(--article-margin);
    border-bottom: 4px solid var(--rom-blue);

}
div.tile_content {
    flex: 1;
    /* border: 2px solid red; */
}
div.youtube_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    /* border: 2px solid green; */
}
div.youtube_container iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* border: 2px solid yellow; */
}
div.album_container {
    flex: 1;
}
img.album_cover {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid var(--rom-grey);
}
div.normal_text p {
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 120%;
    line-height: 1.2;
    padding-bottom: 0.5em;
}
p.centeralign {
    text-align: center;
}
div.soundcloud_container {
    flex: 1;
    width: 100%;
}
div.soundcloud_container iframe {
    width: 100%;
    /* height: 166; */
    border: none;
}

div.more_button {
    overflow: hidden;
    /* border: 1px solid yellow; */
}
.more_button a {
    float: right;
    padding: 0.5em 0.5em 0.1em 0.5em;
}
a.streaming_link {
    color: var(--rom-lightgrey);
    padding: 0 0.4em;
}
.content a {
    font-weight: 500;
}

div.error {
    height: 500px;
}
div.error p {
    text-align: center;
    padding-top: 2em;
}

} /* @media */

/***************************** Mobile *****************************************/
@media screen and (max-width: 600px) {

article.no_underline_mobile {
    border-bottom: none;
}

}