
@media screen {

.footer {
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    /*border: 3px solid green;*/
    border-bottom: solid 6px var(--rom-blue);
}

.footer div.socialmedia {
    font-size: 150%;
    padding-bottom: 12px;
}

.footer div.imprint {
    font-size: 75%;
}

.footer a {
    padding: 12px;
    margin: 0;
}
.footer a:link,
.footer a:visited {
    color: var(--rom-lightgrey);
}
.footer a:hover {
    color: var(--rom-blue);
}
.footer a:active, a:focus {
    color: var(--rom-gold);
}

} /* @media */
