
@media screen {

.footer {
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    /*border: 3px solid green;*/
    border-bottom: solid 6px var(--rom-blue);
}

.footer div.socialmedia {
    font-size: 150%;
    padding-bottom: 22px;
}

.footer div.imprint {
    font-size: 75%;
}

.footer a {
    padding: 0 12px;
    margin: 0 0;
}

} /* @media */
