
@import url(../../normalize.css/normalize.css);
@import url(constants.css);
@import url(league-spartan.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); /* social media icons */
@import url(screen.css);
@import url(navi.css);
@import url(slideshow.css);
@import url(content.css);
@import url(table.css);
@import url(footer.css);
@import url(pressphotos.css);
