
* {box-sizing: border-box;}

nav {
    overflow: hidden;
    background: var(--rom-red);
    padding:
        20px
        calc(var(--content-padding-lr) - var(--navitem-padding-lr))
        10px
        calc(var(--content-padding-lr) - var(--navitem-padding-lr));
    margin: 0;
    border-bottom: solid 6px var(--rom-blue);
    /* if position is fixed, width refers to viewport, else to parent element */
    /*
    position: fixed;
    top: 0;
    width: 100%;
    */
}
nav a {
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 3px var(--navitem-padding-lr) 0 var(--navitem-padding-lr);
}
nav a:link,
nav a:visited {
    color: var(--rom-lightgrey);
}
nav a:hover {
    background: var(--rom-blue);
    color: var(--rom-lightgrey);
}
nav a.active {
    background: var(--rom-blue);
}
nav a#logo {
    padding-top: 6px;
    padding-right: 0;
}
#logo_img {
    height: 65px;
    width: auto;
}
.menucontainer {
    float: right;
    /*border: 1px solid green;*/
}
.menucontainer a {
    margin-top: 45px; /* approx. alignment with logo */
}
.burgeronly {
    display: none;
}
.mobile_header {
    display: none;
}

/*********************** Tablet or tiled window *******************************/
@media screen and (max-width: 1150px) and (min-width: 601px){

.menucontainer {
    display: block;
}
.menucontainer a {
    margin-top: 10px;
}

a#logo {
    display: block;
}
#logo_img {
    width: 100%;
    height: auto;
    /*max-width: 600px;*/
}
}

/***************************** Mobile *****************************************/
@media screen and (max-width: 600px) {

#wrapper {
    display: flex; 
    display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction: column;  
}	

nav {
    height: 500px;
    padding-top: 50px;
    /*background: green;*/
    border-bottom: none;
    order: 1;
    -webkit-order: 1;
}
/* place socialmedia icons below navigation */
.footer {
    order: 2;
    -webkit-order: 2;
}
.footer div.imprint {
    display: none;
}
.menucontainer {
    display: block;
    width: 100%;
    height: auto;
    /*background: var(--rom-orange);*/
}
.menucontainer a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    /*background: var(--rom-blue);*/
}
.mobile_header {
    z-index: 10;
    display: block;
    background: var(--rom-red);
    border-bottom: solid 4px var(--rom-blue);
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--mobile-header-height);
    /*box-sizing: border-box;*/
    padding: 6px var(--content-padding-lr) 4px var(--content-padding-lr);
}
a#logo {
    display: none;
}
a#logo_mobile {
    display: block;
    float: left;
    width: auto;
    padding: 0;
    margin: var(--burger-padding) 0;
    /*border: 1px solid green;*/
}
a#logo_mobile img {
    height: var(--mobile_logo_height);
}
main#content_area {
    margin-top: var(--mobile-header-height);
}
a#rom_burger {
    display: block;
    float: right;
    cursor: pointer;
    height: calc(var(--mobile_logo_height) + 2*var(--burger-padding));
    width: auto;
    padding: var(--burger-padding) 0;
    padding-left: 0;
    margin: 0;
    margin-left: 4px;
    /*border: 1px solid orange;*/
}
nav a.menuexit:hover {
    background: none;
    color: var(--rom-blue);
}
#rom_burger_img {
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    /*border: 1px solid green;*/
}

}
