
* {box-sizing: border-box;}

nav {
    overflow: hidden;
    background: var(--rom-red);
    padding:
        25px
        calc(var(--content-padding-lr) - var(--navitem-padding-lr))
        20px
        calc(var(--content-padding-lr) - var(--navitem-padding-lr));
    margin: 0;
    margin: 0;
    border-bottom: solid 6px var(--rom-blue);
    /* if position is fixed, width refers to viewport, else to parent element */
    /*
    position: fixed;
    top: 0;
    width: 100%;
    */
}
/* nav a { border: 1px solid gainsboro; } */
nav a.logobutton {
    height: var(--logo-height);
    width: auto;
    /* border: 1px solid red; */
}
nav a.logobutton:hover {
    background: none;
}
nav a#rom_logo {
    display: block;
    float: left;
    padding: 0;
}
img.logo_img {
    height: 100%;
    width: auto;
}
.menucontainer {
    float: right;
    height: var(--logo-height);
    /* border: 1px solid green; */
}
.menucontainer a {
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 3px var(--navitem-padding-lr) 0 var(--navitem-padding-lr);
    margin-top: 40px; /* approx. alignment with logo */
}
.menucontainer a:link,
.menucontainer a:visited {
    color: var(--rom-lightgrey);
}
.menucontainer a:hover {
    background: var(--rom-blue);
    color: var(--rom-lightgrey);
}
.menucontainer a.active {
    background: var(--rom-blue);
}
.mobileonly {
    display: none;
}

/*********************** Tablet or tiled window *******************************/
@media screen and (max-width: 1140px) and (min-width: 551px){

nav {
    padding-bottom: 10px;
}

nav a.logobutton {
    height: auto;
}
img.logo_img {
    width: 100%;
    height: auto;
}
.menucontainer {
    height: auto;
    padding-top: 10px;
}
.menucontainer a {
    margin: 0;
}

.mobileonly {
    display: none;
}
}

/***************************** Mobile *****************************************/
@media screen and (max-width: 550px) {

nav {
    z-index: 10;
    display: block;
    background: var(--rom-red);
    transition: 0.15s ease-out;
    border-bottom: solid 4px var(--rom-blue);
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--mobile-header-height);
    max-height: 50em;
    box-shadow: 0 0px 10px black;
    /* box-sizing: border-box; */
    padding: 0px var(--content-padding-lr);
}
div.menucontainer {
    display: block;
    width: 100%;
    padding-top: 0;
}
div.menucontainer a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em 0;
}

nav a.logobutton {
    display: block;
    cursor: pointer;
    height: var(--mobile-logo-height);
    width: auto;
    padding: 0;
    margin:
        var(--mobile-logo-margin-top) 0
        var(--mobile-logo-margin-bottom) 0;
    /* border: 1px solid orange; */
}
nav a#rom_logo { float: left; }
nav a.menubutton { float: right; }

img.logo_img {
    height: 100%;
    width: auto;
    /* border: 1px solid green; */
}

a#menu_close { display: none; }
#menu:target a#menu_open { display: none; }
#menu:target a#menu_close { display: block; }
#menu:target {
    height: 18.5em; /* hacky */
    /* height: auto; */ /* No transition for auto-height. Workarounds:
    /* https://css-tricks.com/using-css-transitions-auto-dimensions/ */
}
#top {
    display: none;
    position: fixed;
}

main#content_area {
    margin-top: var(--mobile-header-height);
}
}

/***************************** Mini Mobile *****************************************/
@media screen and (max-width: 330px) {

#menu:target { height: 22em; }  /* hacky */

}