@media screen {

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: var(--rom-darkgrey);
    /*background-image: url(../img/muster.png);*/
    background-repeat: repeat;
    background-attachment: fixed; /* fixed, scroll */
    color: var(--rom-lightgrey);
    font-family: 'League Spartan Bold';
    font-weight: bold;
    font-size: 130%;
    line-height: 1.6;
    /* border: 1px solid var(--rom-orange); */
}
div#wrapper {
    background-color: var(--rom-red);
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid green; */
}
/* main#content_area { */
    /* padding: 100; */
    /* margin-top: 120px; */ /* some value needed if header bar is fixed */
    /* border: 5px solid green; */
/* } */

a {
    text-decoration: none;
}
a:link,
a:visited {
    color: var(--rom-gold);
}
a:hover {
    color: var(--rom-blue);
}
a:active, a:focus {
    color: var(--rom-gold);
    text-shadow: 0.1em 0 0 var(--rom-blue);
}


/* *****************************
 * Stuff
 * ***************************** */
/*
.floatleft {
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.floatright {
    float:right;
    margin-left: 10px;
    margin-bottom: 10px;
}
.clearing { clear: both; }
*/

/* Micro-clearfix-Hack */
/*
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
*/

} /* @media */
