
body {
    background-color: #000000;
    /*background-color: #15214B;*/
    /*background-image: url(background_main.png);*/
    /*background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;*/
    /*margin: auto;*/
    overflow: hidden;           /* hidden: Body ohne Scrollbar */
}

#div_iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    padding-left: 1em;
}

/* Create two columns that floats next to each other */
.column {
    background-color: #761E40;
    float: left;
    width: 29em;
    height: 4em;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 60em) {
  
  .title {
    width: 95%; /* dirty solution that could be improved */
  }
  .column {
    width: 100%;
  }
}

#div_title {
    background-color: #761E40;
    opacity: 0.8;
    position: absolute;
    top: 0.7em;
    left: 1em;
}

#div_buttons {                
    background-color: #761E40;
    opacity: 0.8;
    position: relative;
    top: 1em;
    /*left: 42em;*/
}

button {
    float: right;
    background-color: #761E40;
    color: #FFFFFF;
    border: none;
    padding: 0.6em 0.8em;
    font-size: medium;
    font-family: ROM;
}

button:focus {
    background-color: #15214B;  /* Farbe bei Klick */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}