/* css styles für Seiten im iframe namens "main" */

@font-face { 
	font-family: "ROM";
        src: url("fonts/Plaza-P-OT-Ultra_35974.ttf") format("truetype"); 
             /*url("a_love_of_thunder.woff") format("woff"),*/
             /*url("a_love_of_thunder.svg") format("svg");*/
}

body {
    background-color: #761E40;
    /*background: none transparent;*/
    margin: 0px;
    color: #FFFFFF; /* font color */
    /* Text options, see also h1, h2 and div below: */
    /* font-family: ROM; */
    font-size: normal;
}

#div_top { /*depricated*/
    height: 4em;
}

#div_box {
    background: rgba(255, 255, 255, 1.0);
    max-width: 34em;
    margin: 1.0em;
    margin-bottom: -0.7em;
}

#div_transparent {
    background: rgba(0, 0, 0, 0);
    max-width: 34em;
    margin: 1.0em;
    margin-bottom: -0.7em;
}

/* use this class to center images and objects */
.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
}

/* header styles */
h1 {
	font-family: ROM;
    padding-top: 0.3em;
    padding-bottom: 0.0em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    font-size: x-large;
    opacity: 0.8;
}

hmore {
    margin-left: 0.8em;
    font-size: large;
    text-align: right; /* seems not to work */
    opacity: 0.8;
}

/* paragraph style */
p {
    padding-top: 0.0em;
    padding-bottom: 0.7em;
    margin-left: 1em;
    margin-right: 1em;
}


div {
    text-align: left;
    /* text-align: justify;
    text-justify: inter-word; */
}

/* images within panels */
img {
    max-width: 98%;
}

/* tables */
td {
    padding-left: 1em;
}

/* unvisited link */
a:link {
  color: #FFFFFF;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: #15214B;
}

/* selected link */
a:active {
  color: #15214B;
}
